<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .main {
            position: relative;
            padding-top: 40px;
        }

        .main .l {
            position: absolute;
            top: 40px;
            left: 0;
            bottom: 0;
            width: 200px;
            overflow-y: scroll;
            background: #fff;
        }

        .main .l::-webkit-scrollbar {
            width: 20px;
            height: 10px;
        }

        .main .l::-webkit-scrollbar-button {
            background-color: #019285;
            height: 0px;

        }

        .main .l::-webkit-scrollbar-track {
            background: #019285;
        }

        .main .l::-webkit-scrollbar-track-piece {
            background: #fff;
            border: 1px solid #ddd;
        }

        .main .l::-webkit-scrollbar-thumb {
           background: #00AC9E;
           height: 0;
        }

        .main .l::-webkit-scrollbar-corner {
            background: #019285;

        }

        .main .l::-webkit-resizer {
            background: #019285;

        }

        .main .l ul {
            padding: 0;
            margin: 0;

        }

        .main .l li {
            list-style: none;
            padding: 8px 0;
            border-bottom: 1px dashed #ddd;
            text-indent: 20px;
            font-weight: bold;
        }

        .main .l li a {
            color: #019285;
            white-space: nowrap;
            display: block;
        }

        .main .l li a:hover {
            color: #ff6600;
        }

        .main .r {
            margin-left: 200px;
            overflow-y: scroll;
        }

        .rmain {
            padding: 20px;

        }

        .rmain table {
            border-spacing: 0;
            width: 100%;

        }

        .main .title {
            padding: 0 20px;
            font-size: 16px;
            border-top: 3px solid #fff;
            background-color: #019285;
            color: #fff;
            position: fixed;
            width: 100%;
            top: 0;
            line-height: 40px;
            font-weight: bold;
           
        }

        .main  .r .title {
             border-left: 3px solid #fff;
        }

         .main .l .title {
             
        }


        .rmain table th {
            background-color: #1EABD9;
            height: 40px;
            font-size: 16px;
            text-align: left;
            padding-left: 5px;
            color: #fff;
        }

        .rmain table td {
            background-color: #eee;
            height: 30px;
            font-size: 14px;
            color: #333;
            padding-left: 5px;
        }

        .rmain table tr:nth-child(2n) td {
            background: #fefefe;
        }

        .tablename {
            line-height: 40px;
            background-color: #1EABD9;
            margin: 0 0 -10px;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
<div class='main'>
    <div class='l' id='left'>
        <div class='title'>
            表名
        </div>
        <ul>
            {% for table in tables %}
                <li><a href="#{{ table.name }}">{{ table.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class='r' id='right'>
        <div class='title'>
            字段
        </div>
        <div class='rmain'>
            {% for table in tables %}
                <div  class="tablename"  id="{{ table.name }}">
                    <h3>{{ table.name }}</h3>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>字段</th>
                        <th>类型</th>
                        <th>长度</th>
                        <th>是否为空</th>
                        <th>默认值</th>
                        <th>说明</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for column in table.columns %}
                    <tr>
                        <td>{{ column.name }}</td>
                        <td>{{ column.type.name }}</td>
                        <td>{{ column.length }}</td>
                        <td>{{ column.notnull ? '是' : '否' }}</td>
                        <td>{{ column.default }}</td>
                        <td>{{ column.comment }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    window.onload = function () {
        var h = document.documentElement.clientHeight + "px";
        $id("left").style.height = h;
        $id("right").style.height = h;
    }
    $id = function (id) {
        return document.getElementById(id);
    }
</script>
</html>